<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Formularz</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Ubuntu&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles-formularz.css') }}">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>

  <section id="title-formula">

    <!-- Nav Bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">#LocalMask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Strona główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Formularz</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="formularz-text">
    <h2>Wypełnij formularz, abyśmy mogli dostarczyć maski!</h2>
    <p>Wpisz dane osoby, która Twoim zdaniem potrzebuje maski ochronnej w czasie epidemii COVID-19.</p>
    <p>Doceniamy twoje starania i chęć pomocy.</p>
    Inni też to docenią.
    </p>
  </div>


  <div class="formularz">
    <form method="POST" action="">
      {{ form.hidden_tag()  }}
      <fieldset class="form-group">
        <legend class="border=bottom mb-4">Wypełnij formularz</legend>
        <div class="form-group">
          {{form.name.label(class="form-control-label")}}
          {% if form.name.errors %}
          {{ form.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.surname.label(class="form-control-label")}}
          {% if form.surname.errors %}
          {{ form.surname(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.surname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.surname(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.quantity.label(class="form-control-label")}}
          {% if form.quantity.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.quantity.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.quantity(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.address.label(class="form-control-label")}}
          {% if form.address.errors %}
          {{ form.address(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.address.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.address(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.post_code.label(class="form-control-label")}}
          {% if form.post_code.errors %}
          {{ form.post_code(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.post_code.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.post_code(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.address_2.label(class="form-control-label")}}
          {% if form.address_2.errors %}
          {{ form.address_2(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.address_2.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.address_2(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-lg btn-outline-light")}}
      </div>

    </form>


    <!-- CAPTCHA -->


    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
        data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
      <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
      <div class="help-block with-errors"></div>
    </div>

  </div>


  <script src="" async defer></script>
</body>

</html>