<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 500</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
</head>
<body>
    <h1>ERROR 500</h1>
    <h2>GO BACK TO THE MAIN HOME PAGE</h2>
    <p>The 500 Internal Server Error is a very general HTTP status code 
        that means something has gone wrong on the web site's server but 
        the server could not be more specific on what the exact problem is.</p>
</body>
</html>