<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
</head>

<body>
    <h1>Maska dla seniora</h1>
    <br>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% for item in values %}
    <br>
    <h2>Name: {{item.name}},
        Surname: {{item.surname}},
        Emails: {{item.email}},
        Address: {{item.addres}},
        Address_2: {{item.address_2}},
        Post Code: {{item.post_code}},
        Quantity: {{item.quantity}},
        Date: {{item.date_posted}}</h2>
    <br>
    {% endfor %}
    <script src="" async defer></script>
</body>

</html>